@use "./variables.scss" as var;

:root {
  font-family: "Open Sans", sans-serif;
  font-weight: var.$fontRegular;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
}
