$grayDark: #343434;
$grayLight: #8e8e8e;
$blueLight: #C5DCFF;
$blueDark: #6BA6FF;
$orangeLight: #FED74B;
$orangeDark: #CBA500;

$borderRadius: 16px;

$fontRegular: 400;
$fontBold: 700;

$textSizeSmallSM: 12px;
$textSizeNormalSM: 14px;

$textSizeSmallX: 14px;
$textSizeMedX: 16px;
$textSizeNormalX: 18px;
$textSizeBigX: 26px;

$desktopSize: 860px;
$desktopSizeX: 1024px;
$desktopSizeXL: 1320px;
